.introduction-container {
  width: 100%;
  padding-top: 5%;
}

.greeting {
  font-size: 20px;
  color: var(--secondary-text-color);
}

.greeting-phone {
  font-size: 13px !important;
  color: var(--secondary-text-color);
}

.name {
  font-size: 86px;
  line-height: 86px;
  color: var(--primary-text-color);
}

.name-phone {
  font-size: 32px !important;
  line-height: 32px !important;
}

.title {
  font-size: 74px !important;
  line-height: 74px !important;
  color: var(--tetra--text-color);
}

.title-phone {
  font-size: 26px !important;
  line-height: 26px !important;
}

.text-container {
  margin-left: 20%;
}
