.introduction-container {
  width: 100%;
  padding-top: 5%;
}

.greeting {
  font-size: 20px;
  color: var(--secondary-text-color);
}

.greeting-phone {
  font-size: 16px !important;
  color: var(--secondary-text-color);
}

.name {
  font-size: 86px;
  line-height: 86px;
  color: var(--primary-text-color);
}

.name-phone {
  font-size: 42px !important;
  line-height: 42px !important;
}

.title {
  padding-left: 5px;
  font-size: 74px !important;
  line-height: 74px !important;
  color: var(--tetra--text-color);
}

.title-phone {
  font-size: 28px !important;
  line-height: 28px !important;
}

.text-container {
  margin-left: 20%;
}

.text-container-phone {
  margin-left: 10%;
}
