<div class="history-container">
  <div [ngClass]="{'text-container-phone': isMobile}" class="text-container">
    My name is Victor, and I am a Backend Engineer with a passion for building high-performance, distributed systems.
    Currently, I work on the Identity team at Truecaller in Stockholm, engineering secure, massive-scale global
    authorization systems that handle millions of requests per second. Prior to this, I spent several years as a
    Full Stack Developer designing scalable and secure digital healthcare solutions.
    <br><br>
    As for my academic background, I graduated from the University of Wisconsin - Green Bay with a Major in Computer
    Science and a Minor in Mathematics. So, how did a Swede end up studying in the US, you might ask?
    <br><br>
    I developed interests in hockey, music, video games, and computers at a very young age. My curiosity only grew
    with time, leading me to explore game development, 3D modeling, and animation in high school. Ultimately, it was my
    passion for hockey that brought me across the Atlantic, giving me the opportunity to play collegiately while
    pursuing my degree. After graduation, I focused on roles that aligned with my skills and desire to make a positive
    impact—starting with improving medical data archives and now tackling high-volume global identity challenges.
    <br><br>
    I am a naturally curious person who loves to understand how things work from the ground up.
    Whether I'm optimizing low-latency cloud infrastructure or out on the pavement, I'm always looking to improve.
    I am an avid marathon runner, and I love the discipline of training hard to constantly push my limits and get faster.
    This drive for tailored, optimal solutions also extends into my downtime, where I self-host many solutions,
    including VPNs, personal clouds, home automation, resume builders, password managers and much more.
  </div>
</div>


