.history-container {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

.text-container {
  color: var(--primary-text-color);
  font-size: 24px;
  line-height: 26px;
  display: flex;
  max-width: 50%;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.text-container-phone{
  font-size: 18px;
  line-height: 22px;
  max-width: 85%;
}
