<div class="history-container">
  <div [ngClass]="{'text-container-phone': isMobile}" class="text-container">
    My name is Victor, and I am a fullstack engineer with professional experience in the technologies that can been seen
    in my skill sphere at my homepage. A little about my background, I have been working as a fullstack engineer in
    Sweden with the focus in healthcare solutions. As for my academic background, I graduated from the University of
    Wisconsin - Green Bay with a Major in Computer Science and a Minor in Mathematics.
    <br><br>
    So how did a Swede end up studying in the US you might ask?
    <br><br>
    I developed interests in hockey, music, video games, and computers at a very young
    age. My interest only grew with time and In high school, I was eager to learn how to develop video games, which led
    me to gain experience with unity, 3D modeling, rigging, skinning, texturing, and animations. It was ultimately my
    passion for hockey eventually brought me to the United States, where I was given the opportunity to play hockey and
    study computer science. During college, I had the opportunity to work with a local company as a software engineer
    with heavy focus on integrating with hardware ModBus in particular. After graduation I looked into jobs which
    aligned with my skills and values which is to make the world a little bit better and I think it goes without saying
    that improving healthcare solutions is just that.
    <br><br>
    I am a very curios person and loves to understand how things work.
    I am also someone who loves creating solutions that will be just right for the person using it and in mose cases
    that is me. Naturally then as a hobie of mine is various self hosting solutions such as VPNs, File Clouds, Home
    automations, and Password managers.
  </div>
</div>
